/*----FONT----*/
@font-face {
  font-family: "AkzidenzGrotesk-Medium";
  src: url("assets/font/AkzidenzGrotesk-Medium.otf");
}

@font-face {
  font-family: "AkzidenzGrotesk-Regural";
  src: url("assets/font/AkzidenzGrotesk-Regular.otf");
}

/*---VARIABLES---*/
@font-face {
  font-family: "AkzidenzGrotesk-Medium";
  src: url("./assets/font/AkzidenzGrotesk-Medium.otf.eot");
  src: url("./assets/font/AkzidenzGrotesk-Medium.otf.eot?#iefix") format("embedded-opentype"), url("./assets/font/AkzidenzGrotesk-Medium.otf.woff") format("woff"), url("./assets/font/AkzidenzGrotesk-Medium.otf.ttf") format("truetype"), url("./assets/font/AkzidenzGrotesk-Medium.otf.svg#AkzidenzGrotesk-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AkzidenzGrotesk-Regural";
  src: url("./assets/font/AkzidenzGrotesk-Regular.otf.eot");
  src: url("./assets/font/AkzidenzGrotesk-Regular.otf.eot?#iefix") format("embedded-opentype"), url("./assets/font/AkzidenzGrotesk-Regular.otf.woff") format("woff"), url("./assets/font/AkzidenzGrotesk-Regular.otf.ttf") format("truetype"), url("./assets/font/AkzidenzGrotesk-Regular.otf.svg#AkzidenzGrotesk-Regural") format("svg");
  font-weight: normal;
  font-style: normal;
}

.destacado img {
  border-style: solid;
}

/*---footer---*/
footer {
  background-color: #8D76D7;
  color: white;
  border-top: black;
}

footer .icons {
  text-align: center;
  letter-spacing: 2px;
}

footer .icons i {
  font-size: 30px;
  -webkit-transition: ease 0.2s all;
  transition: ease 0.2s all;
}

footer .icons i:hover {
  -webkit-transform: translateY(-10px);
}

.contenedor__noticiasprincipal {
  margin: 5rem;
}

.contenedor__noticiasprincipal .main__container__img {
  width: 100%;
}

.destacado h2 {
  font-size: 1.5rem;
}

.destacado h3 {
  font-size: 1rem;
}

/*---HEADER---*/
header nav ul {
  width: 20 rem;
  height: auto;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2rem;
}

header nav ul img {
  width: 12%;
  height: auto;
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}

header nav ul img:hover {
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

header nav ul li {
  font-family: "AkzidenzGrotesk-Regural";
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-top: 0.1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 45px;
  border: 0.2rem solid #8D76D7;
  height: 2.8rem;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

.logo img {
  width: 8.5%;
  height: auto;
  position: absolute;
  top: 52px;
  left: 74px;
}

html,
body {
  height: 100%;
}

body {
  background: #eee;
  color: #000;
}

.swiper-slide h2 {
  font-size: 1.5rem;
  width: 100%;
  height: auto;
  margin-top: 3.90px;
  margin-bottom: 0px;
}

.swiper-slide h3 {
  font-size: 1rem;
  width: 100%;
  height: auto;
  margin-top: 3.90px;
  margin-bottom: 0px;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

/* .mySwiper{
    padding: 48px;
    box-sizing: border-box;
    display: inline-block;
    float: none;
} */
.swiper-slide {
  /* background: #fff;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 50px;
  height: 220px;
  margin-right: 48px; */
  /*content box*/
  /* box-sizing: content-box;
  width: 355px;
  height: 478px;
  padding: 0px; */
  width: 350px;
  margin: 50px;
  margin-right: 150px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: auto;
  /* box-sizing: border-box;
  display: inline-block;
  float: none; */
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* .swiper-container-multirow>.swiper-wrapper {
    flex-wrap:wrap
}
.swiper-container-multirow-column>.swiper-wrapper {
    flex-wrap:wrap;
    flex-direction:column
} */
.swiper-slide img {
  /* display: block; */
  /* width: 70%;
  height: auto;
  object-fit: contain; */
  vertical-align: middle;
  max-width: 100%;
  /* vertical-align: middle; */
}

.swiper-button-next {
  margin: auto;
}

.swiper-button-prev {
  margin: auto;
}
/*# sourceMappingURL=estilos.css.map */