/*---VARIABLES---*/
body {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

main {
  top: 150px;
}

.destacado h2 {
  font-family: 'Archivo', sans-serif;
  font-size: 1.3rem;
}

.destacado h3 {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
}

.destacado img {
  border-style: solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: 3px solid #FF6B15;
}

/*---footer---*/
footer {
  background-color: #8D76D7;
  color: white;
  border-top: .2rem solid #000;
  border-bottom: .2rem solid #000;
}

footer .container {
  font-size: 1rem;
}

.button__top {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-radius: 0em;
  padding: 0.60em 1em;
  background: #fff;
  color: #000;
  -webkit-transform: translateY(-0.4em);
          transform: translateY(-0.4em);
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

.button__top:hover {
  /* Pull the button upwards when hovered */
  -webkit-transform: translateY(-0.3em);
          transform: translateY(-0.3em);
}

.button__top:active {
  /* Push the button downwards when pressed */
  -webkit-transform: translateY(5);
          transform: translateY(5);
}

.footer__icons__row {
  border-top: .2rem solid #000;
  border-bottom: .2rem solid #000;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.shape img {
  width: 25px;
  height: 25px;
}

.footer__icons {
  text-align: center;
  text-decoration: none;
  color: #FF6B15;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
  -webkit-transition: ease 0.2s all;
  transition: ease 0.2s all;
}

.footer__icons:hover {
  -webkit-transform: translateY(-10px);
  color: #FF6B15;
}

.footer__newsletter {
  border-left: .2rem solid #000;
}

.footer__newsletter h2 {
  font-family: 'Archivo', sans-serif;
  font-size: 1.3rem;
}

.footer__newsletter h3 {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
}

.contenedor__noticiasprincipal {
  margin: 5rem;
}

.contenedor__noticiasprincipal .main__container__img {
  width: 100%;
}

main h2 {
  font-family: 'Archivo', sans-serif;
  font-size: 1.3rem;
}

main h3 {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
}

/*---HEADER---*/
header {
  position: -webkit-sticky;
  position: sticky;
  background-color: #DCDAEF;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 999;
  border-bottom: 3px solid #000;
  overflow: hidden;
}

header nav ul {
  width: 20 rem;
  height: auto;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 2rem;
}

header nav ul img {
  width: 12%;
  height: auto;
  -webkit-transition: ease-out 1s;
  transition: ease-out 1s;
}

header nav ul img:hover {
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

header nav ul li {
  font-family: "AkzidenzGrotesk-Regural";
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-top: 0.1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 45px;
  border: 0.2rem solid #8D76D7;
  height: 2.8rem;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

.logo img {
  width: 8.5%;
  height: auto;
  position: absolute;
  top: 52px;
  left: 74px;
}

/*---SWIPER SLIDE---*/
html,
body {
  height: 100%;
}

body {
  background: #DCDAEF;
  color: #000;
}

.swiper-slide h2 {
  font-family: 'Archivo', sans-serif;
  font-size: 1.3rem;
  width: 100%;
  height: auto;
  margin-top: 3.90px;
  margin-bottom: 0px;
}

.swiper-slide h3 {
  font-family: 'Outfit', sans-serif;
  font-size: 1rem;
  width: 100%;
  height: auto;
  margin-top: 3.90px;
  margin-bottom: 0px;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide {
  width: 350px;
  margin: 50px;
  margin-right: 150px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: auto;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  vertical-align: middle;
  max-width: 100%;
}

.swiper-button-next {
  margin: auto;
}

.swiper-button-prev {
  margin: auto;
}
/*# sourceMappingURL=estilos.css.map */