/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
} */
/*----FONT----*/
@font-face {
    font-family: "AkzidenzGrotesk-Medium";
    src: url("assets/font/AkzidenzGrotesk-Medium.otf");
}
@font-face {
    font-family: "AkzidenzGrotesk-Regural";
    src: url("assets/font/AkzidenzGrotesk-Regular.otf");
}

/* ----header------ */
/* 
.header{
    width: 20 rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.nav__item{
    font-family: "AkzidenzGrotesk-Regural";
    font-size: 1.5rem;
    padding: 0.5rem;
    padding-top: 0.1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 45px;
    border: 0.2rem solid #8D76D7;
    height: 2.8rem;
} */

.destacado{
    display: flex;
    justify-content: center;
}
.destacado img {
    width: 100%;
    border: 3px solid #FF6B15; 
}

.contenedor__articulos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    width: 100%;
    margin: 5rem;
    gap: 2rem; 
}

.header__nav li {
    display: inline-block;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

h3{
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: .006em;
}

.h2{
    font-family: "AkzidenzGrotesk-Medium";
    font-size: 1.5rem;
}

footer{
    background-color: #8D76D7;
    color: white;
}
.rectangle1{
    height: 415px;
    width: 261px;
    border-style: solid;
    border-color: #FF6B15;
    position: absolute;
    top: 85px;
    left: 200px;
}
.rectangle2{
    height: 415px;
    width: 261px;
    border-style: solid;
    border-color: #FF6B15;
    position: absolute;
    top: 85px;
    left: 485px;
}
.rectangle3{
    height: 415px;
    width: 261px;
    border-style: solid;
    border-color: #FF6B15;
    position: absolute;
    top: 85px;
    left: 770px;
}
/* .container__hola{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    width: 100%;
    margin: 5rem;
    gap: 2rem;
    background-color: #8D76D7;
} */