/*---footer---*/

footer{
    background-color: $violeta;
    color: white;
    border-top: .2rem solid #000;
    border-bottom: .2rem solid #000;
    .container{
        font-size: 1rem;
    }
    
}

.button__top{
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-radius: 0em;
    padding: 0.60em 1em;
    background: #fff;
    color: #000;
    transform: translateY(-0.4em);
    transition: transform 0.1s ease;
    &:hover{
        /* Pull the button upwards when hovered */
        transform: translateY(-0.30em);
    }     
    &:active{
        /* Push the button downwards when pressed */
        transform: translateY(5);
    }
    
}
.footer__icons__row{
    border-top: .2rem solid #000;
    border-bottom: .2rem solid #000;
    background-color: #fff;
    width: 100%;
    height: 100%;
}
.shape img{
    width: 25px;
    height: 25px;
}
.footer__icons{
    text-align: center;
    text-decoration: none;
    color: $naranja;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    transition: ease 0.2s all;
    &:hover{
        -webkit-transform: translateY(-10px);
        color: $naranja;
    }        
}

.footer__newsletter{
    border-left: .2rem solid #000;
    h2{
        @include textodestacado;
    }
    h3{
        @include textolectura;
    }
}