/*---footer---*/

footer{
    background-color: $violeta;
    color: white;
    border-top: .2rem solid #000;
    border-bottom: .2rem solid #000;
    width: 100%;
    .container{
        font-size: 1rem;
    }
    
}


.footer__icons__row{
    border-top: .2rem solid #000;
    border-bottom: .2rem solid #000;
    background-color: #fff;
    width: 100%;
    height: 100%;
}
.shape img{
    width: 25px;
    height: 25px;
}
.footer__icons{
    text-align: center;
    text-decoration: none;
    color: $naranja;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    transition: ease 0.2s all;
    &:hover{
        -webkit-transform: translateY(-10px);
        color: $naranja;
    }        
}

.footer__newsletter{
    padding-top: 20px;
    padding-left: 5px;
    border-left: .2rem solid #000;
    h2{
        @include textodestacado;
    }
    h3{
        @include textolectura;
    }
    input{
        color: $violeta;
        border-radius: 2px;
        box-shadow: none;
        -webkit-box-shadow: none;
        width: 100%;
        border: 2px solid #000;
        padding: .5em 1em;
    }
}

.footer__button{
    .button__top{
    z-index: above;
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-radius: 0em;
    padding: 0.50em 1em;
    background: #fff;
    color: #000;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
    &:hover{
        transform: translateY(0.1em);
        transform: translateX(0.1em);
        }     
    &:active{
        transform: translateY(5);
        }
    }
    .button__shadow{
        background-color: #000;
        z-index: 1;
        position: absolute;
        right: 67px;
        padding: 1em;
    }
}
