
body{
    background-color: $violetaClaro;
}
.contenedor__noticiasprincipal{
    .main__container__img{
        width: 100%;
    }
    margin: 5rem;
} 

main{
    h2{
        @include textodestacado;
    }
    h3{
        @include textolectura;
    }
}
